apiVersion: v1
kind: Service
metadata:
  name: dummy-exporter
  labels:
    app: dummy-exporter
    component: metrics-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9100"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 9100
      targetPort: 9100
      protocol: TCP
  selector:
    app: dummy-exporter
