apiVersion: v1
kind: Service
metadata:
  name: vmagent
  labels:
    app: vmagent
    component: collector
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8429"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: vmagent
    component: collector
  ports:
    - name: http
      port: 8429
      targetPort: 8429
      protocol: TCP
