apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  labels:
    app: grafana
    component: visualization
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
