apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: grafana
    component: visualization
spec:
  selector:
    app: grafana
    component: visualization
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
  type: ClusterIP
