apiVersion: v1
kind: Service
metadata:
  name: grafana
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "smart-home-grafana"
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
