apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: VictoriaMetrics
        type: prometheus
        # namePrefix: prod- により prod-victoriametrics サービスへ接続
        url: http://prod-victoriametrics:8428
        isDefault: true
        access: proxy
        jsonData:
          timeInterval: "30s"
