apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: switchbot-exporter-production

# smart-homeネームスペースに配置
namespace: smart-home

# ベース設定の参照
resources:
  - ../../base/namespace
  - ../../base/exporter
  - ../../base/victoria-metrics
  - ../../base/minio
  - ../../base/openobserve
  - secret.yaml
  - minio-secret.yaml
  - openobserve-secret.yaml

# Production環境用の名前プリフィックス
namePrefix: prod-

# 本番環境用の設定を上書き
patches:
  - path: deployment-patch.yaml
  - path: victoria-metrics-config-patch.yaml
  - path: openobserve-patch.yaml
    target:
      kind: Deployment
      name: openobserve
  - path: vm-remotewrite-patch.yaml
    target:
      kind: StatefulSet
      name: victoria-metrics

# 本番環境用のイメージタグ
images:
  - name: switchbot-exporter
    newName: ghcr.io/aobaiwaki123/switchbot-exporter
    newTag: latest
